{% extends "base.html" %}

{% block content %}
<div class="musician-list">
    <h1>All Musicians</h1>
    
    <ul class="musicians">
        {% for musician in musicians %}
        <li class="musician-item">
                <span class="names">Names: {{ musician.fullNames }} </span> <br>
                <span class="telephone">Tel: {{ musician.telephone }}</span>
        </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if page.has_previous %}
            <a href="?page=1"></a>
            <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
            <a href="?page={{ page.paginator.num_pages }}"></a>
        {% endif %}
    </div>
</div>
{% endblock %}