
{% extends "base.html" %}
{% block content %}
<h2 class="mb-4">All Venues we have</h2>
{%for venue in venue %}
   <div class="card mb-3">
      <div class="card-body">
          <h5 class="card-title">{{venue.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Rooms:</h6>
          <ul>
              {% for room in venue.room_set.all%}
                   <li>{{room.name}}</li>
               {% empty %}
                    <li> No ROOMS WE HAVE</li>
                {% endfor %}    
                 
          </ul>
      </div>
   </div>
   {% endfor %}
   {% endblock %}